.page-section {
  --container-cut: 15px;

  position: relative;
  background: var(--color-bg-white);

  @include media-breakpoint-up(xl) {
    --container-cut: 40px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: inherit;
    transform: skewY(var(--skew-angle));
    z-index: var(--layer-1);
  }

  &::before {
    top: -90px;
  }

  &::after {
    top: unset;
    bottom: 0;
    height: 120px;
  }

  &_skew_inverse {
    &::before,
    &::after {
      --inverse-angle: calc(-1 * var(--skew-angle));

      transform: skewY(var(--inverse-angle));
    }
  }

  &_skew_inverse-top {
    &::before {
      --inverse-angle: calc(-1 * var(--skew-angle));

      transform: skewY(var(--inverse-angle));
    }
  }

  &_skew_inverse-bottom {
    &::after {
      --inverse-angle: calc(-1 * var(--skew-angle));

      transform: skewY(var(--inverse-angle));
    }
  }

  &_skew_no {
    &::before,
    &::after {
      display: none;
    }
  }

  &_skew_no-top {
    &::before {
      display: none;
    }
  }

  &_skew_no-bottom {
    &::after {
      display: none;
    }
  }

  &__container {
    @include container();

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include media-breakpoint-up(sm) {
      align-items: center;
    }

    .page-section_type_cut & {
      @include media-breakpoint-up(xl) {
        padding-right: calc(var(--container-padding-x) - var(--container-cut));
      }
    }
  }

  &__title {
    .page-section_type_cut & {
      @include media-breakpoint-up(xl) {
        margin-left: calc(-1 * var(--container-cut));
      }
    }
  }

  &__text {
    .page-section_type_cut & {
      @include media-breakpoint-up(xl) {
        margin-left: calc(-1 * var(--container-cut));
      }
    }
  }

  &__btn {
    .page-section_type_cut & {
      @include media-breakpoint-up(xl) {
        margin-left: calc(-1 * var(--container-cut));
      }
    }
  }

  &__notice {
    margin: 14px 0 26px 0;
    z-index: var(--layer-2);

    @include media-breakpoint-up(md) {
      margin-top: 52px;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 43px;
    }

    @include media-breakpoint-up(md) {
      margin-left: -6px;
    }

    @include media-breakpoint-up(xl) {
      margin-left: -52px;
    }

    @include media-breakpoint-up(xxl) {
      margin-left: -35px;
    }
  }

  &__shift {
    @include media-breakpoint-up(xl) {
      margin-left: -43px;
    }
  }

  &__icon {
    display: inline-block;
    margin-bottom: 25px;
  }

  //icon's shift
  &_type_cut &__container > .icon {
    @include media-breakpoint-up(xl) {
      margin-left: calc(-1 * var(--container-cut));
    }
  }
}
