.text {
  position: relative;
  margin: 0;
  display: block;
  font-style: normal;
  font-weight: normal;
  z-index: var(--layer-2);

  &_title_level-1 {
    margin-bottom: 16px;
    font-size: 29px;
    line-height: 38px;
    letter-spacing: -0.5px;

    @include media-breakpoint-up(md) {
      font-size: 38px;
      line-height: 48px;
      letter-spacing: -1.16px;
    }
  }

  &_title_level-3 {
    margin-bottom: 8px;
    font-size: 18.2px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.62px;

    @include media-breakpoint-up(md) {
      font-size: 20.2px;
      line-height: 35px;
      letter-spacing: -0.69px;
    }
  }

  &_level_1 {
    margin-bottom: 16px;
    max-width: 840px;
    font-size: 18.2px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: -0.36px;

    @include media-breakpoint-up(md) {
      font-size: 20.2px;
      line-height: 32px;
      letter-spacing: -0.4px;
    }

    &.text_before_button {
      margin-bottom: 36px;
    }
  }

  &_level_3 {
    margin-bottom: 24px;
    max-width: 520px;
    font-size: 15.2px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.2px;

    @include media-breakpoint-up(md) {
      margin-bottom: 40px;
      //max-width: 400px;
      font-size: 17.2px;
      line-height: 26px;
      letter-spacing: -0.59px;
    }

    &.text_before_chip {
      margin-bottom: 42px;
    }

    &.text_mgb_60.text_screen_md {
      @include media-breakpoint-up(md) {
        margin-bottom: 60px;
      }
    }

    &.text_mgb_34.text_screen_lg {
      @include media-breakpoint-up(lg) {
        margin-bottom: 34px;
      }
    }

    &.text_mgb_60.text_screen_xl {
      @include media-breakpoint-up(xl) {
        margin-bottom: 60px;
      }
    }
  }

  &_align_center {
    text-align: center;
  }

  &_inline_sm {
    @include media-breakpoint-up(sm) {
      display: inline;
    }
  }

  //margin-bottom
  //&_mgb_xs {
  //  margin-bottom: 8px;
  //}
  //
  //&_mgb_sm {
  //  margin-bottom: 16px;
  //}
  //
  //&_mgb_md {
  //  margin-bottom: 24px;
  //}
  //
  //&_mgb_lg {
  //  margin-bottom: 36px;
  //}
  //
  //&_mgb_xl {
  //  margin-bottom: 42px;
  //}
  //
  //&_mgb_2xl {
  //  margin-bottom: 60px;
  //}

  //
  //// font-size
  //&_size_xs {
  //  font-size: 12.4px;
  //}
  //
  //&_size_sm {
  //  font-size: 13.2px;
  //}
  //
  //&_size_md {
  //  font-size: 14.4px;
  //}
  //
  //&_size_lg {
  //  font-size: 15.2px;
  //}
  //
  //&_size_xl {
  //  font-size: 17.2px;
  //}
  //
  //&_size_2xl {
  //  font-size: 18.2px;
  //}
  //
  //&_size_3xl {
  //  font-size: 29px;
  //}
  //
  //// line-height
  //&_lh_2xs {
  //  line-height: 16px;
  //}
  //
  //&_lh_xs {
  //  line-height: 20px;
  //}
  //
  //&_lh_sm {
  //  line-height: 22px;
  //}
  //
  //&_lh_md {
  //  line-height: 24px;
  //}
  //
  //&_lh_lg {
  //  line-height: 28px;
  //}
  //
  //&_lh_xl {
  //  line-height: 32px;
  //}
  //
  //&_lh_2xl {
  //  line-height: 38px;
  //}
  //
  //// letter-spacing
  //&_ls-neg_xxxs {
  //  letter-spacing: -0.62px;
  //}
  //
  //&_ls-neg_xxs {
  //  letter-spacing: -0.6px;
  //}
  //
  //&_ls-neg_xs {
  //  letter-spacing: -0.5px;
  //}
  //
  //&_ls-neg_sm {
  //  letter-spacing: -0.2px;
  //}
  //
  //&_ls-neg_md {
  //  letter-spacing: -0.17px;
  //}
  //
  //&_ls-neg_lg {
  //  letter-spacing: -0.25px;
  //}
  //
  //// transform
  //&_transform_uppercase {
  //  text-transform: uppercase;
  //}
  //

  // weight
  &_weight_light {
    font-weight: 300;
  }

  &_weight_bold {
    font-weight: 500;
  }

  &_weight_semi-bold {
    font-weight: 600;
  }
  //
  ////--------------------breakpoint MD---------------------
  //
  //// margin-bottom
  //
  //&_mb_md {
  //  @include media-breakpoint-up(md) {
  //    margin-bottom: 40px;
  //  }
  //}
  //
  //&_mb_lg {
  //  @include media-breakpoint-up(md) {
  //    margin-bottom: 60px;
  //  }
  //}
  //
  //&_mb_xl {
  //  @include media-breakpoint-up(md) {
  //    margin-bottom: 80px;
  //  }
  //}
  //
  //// font-size
  //&_screen_md_size_md {
  //  @include media-breakpoint-up(md) {
  //    font-size: 16.1px;
  //  }
  //}
  //
  //&_screen_md_size_lg {
  //  @include media-breakpoint-up(md) {
  //    font-size: 17.2px;
  //  }
  //}
  //
  //&_screen_md_size_xl {
  //  @include media-breakpoint-up(md) {
  //    font-size: 20.2px;
  //  }
  //}
  //
  //&_screen_md_size_xxl {
  //  @include media-breakpoint-up(md) {
  //    font-size: 38px;
  //  }
  //}
  //
  //// line-height
  //&_screen_md_lh_xs {
  //  @include media-breakpoint-up(md) {
  //    line-height: 26px;
  //  }
  //}
  //
  //&_screen_md_lh_sm {
  //  @include media-breakpoint-up(md) {
  //    line-height: 26px;
  //  }
  //}
  //
  //&_screen_md_lh_md {
  //  @include media-breakpoint-up(md) {
  //    line-height: 32px;
  //  }
  //}
  //
  //&_screen_md_lh_xxl {
  //  @include media-breakpoint-up(md) {
  //    line-height: 48px;
  //  }
  //}
  //
  //// letter-spacing
  //&_screen_md_ls-neg_xs {
  //  @include media-breakpoint-up(md) {
  //    letter-spacing: -0.6px;
  //  }
  //}
  //
  //&_screen_md_ls-neg_sm {
  //  @include media-breakpoint-up(md) {
  //    letter-spacing: -1.16px;
  //  }
  //}
  //
  //&_screen_md_ls-neg_md {
  //  @include media-breakpoint-up(md) {
  //    letter-spacing: -0.55px;
  //  }
  //}
  //
  //&_screen_md_ls-neg_lg {
  //  @include media-breakpoint-up(md) {
  //    letter-spacing: -0.4px;
  //  }
  //}
}
